---
title: CV
---

<a href="/static/corajr_resume.pdf">PDF</a> | <a href="/static/resume.json">JSON</a>

	<div id="resume">
		{{> basics }}
		{{> work }}
		{{> volunteer }}
		{{> education }}
		{{> awards }}
		{{> publications }}
		{{> skills }}
		{{> languages }}
		{{> interests }}
		{{> references }}
  </div>
